.create-task-wrapper {
}

.create-task-content {
  margin-top:70px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.MDBInput-wrapper {
  margin-bottom: 20px;
  margin-top: 10px;
}
