.header {
    padding: 20px 40px;
    border: 1px solid gray;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    color: gray;
    text-decoration: none;
}

.navigation-link:hover {
    color: black;
}