.page {
    border: 1px solid gray;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding-bottom: 80px;
}

.activities {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.activity {
    padding: 10px;
}

.personal-data-block {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.personal-photo {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.personal-info {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-block {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.info {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.skill {
    padding-left: 5px;
    padding-right: 5px;
}

.reviews-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.review-title {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviews-list {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.review {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.review-text {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}