.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.open-pages-background {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  /*background: linear-gradient(
    rgba(77,105,122, 0.65),
    rgba(77,105,122, 0.65)
    ),
    url('https://images.pexels.com/photos/1323592/pexels-photo-1323592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');*/
  background: linear-gradient(
    rgba(77,105,122, 0.2),
    rgba(77,105,122, 0.2)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
}
